@import "../../scss/fonts.scss";

.logo {
  font-weight: 700;
  font-size: 31.93px;
  line-height: 54.28px;
  text-align: left;
  &:hover {
    text-shadow: 1px 1px 2px rgb(198, 189, 190);
    cursor: pointer;
  }

  &:active {
    text-shadow: 1px 1px 2px rgb(146, 140, 141);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 49px;
  color: #ffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  background: #2c3878;
  &:hover {
    text-shadow: 1px 1px 2px rgb(198, 189, 190);
    cursor: pointer;
  }

  &:active {
    text-shadow: 1px 1px 2px rgb(146, 140, 141);
  }
}

.link {
  &:hover {
    text-shadow: 1px 1px 2px rgb(198, 189, 190);
    cursor: pointer;
  }

  &:active {
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(146, 140, 141);
  }
}

.top-content {
  &-topic {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  &-title {
    padding-top: 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 61.2px;
    text-align: left;
  }

  &-text {
    color: var(--color-gray);
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    text-align: left;
  }
}

.links__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__item {
    display: grid;
    grid-template-columns: min-content max-content auto;
    align-items: center;
    &-number {
      text-align: left;
    }
  }

  &-img {
    justify-self: flex-end;
    width: 33px;
    height: 33px;
  }
}

.intro {
  position: relative;
  display: grid;
  grid-template-areas:
    "A B"
    "C C";

  justify-content: space-between;
  margin-top: 98px;

  &__title {
    grid-area: A;
    max-width: 681px;
    font-weight: 700;
    font-size: 72px;
    line-height: 100.8px;
    text-align: left;
  }

  &__text {
    grid-area: B;
    padding-top: 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    writing-mode: vertical-lr;
    text-align: left;
    transform: rotate(180deg);
  }

  &__img {
    grid-area: C;
    width: 100%;

    height: 513px;
    margin-top: 45px;
    object-fit: cover;
  }

  &__cards {
    position: absolute;
    top: 139px;
    left: 806px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 57px;
    width: 252px;
    height: 525px;
    padding-top: 40px;
    background-color: var(--color-blue);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      color: var(--color-white);
      font-weight: 400;
      font-size: 16px;
      line-height: 25.6px;
      text-align: left;
      &-span {
        font-weight: 400;
        font-size: 52px;
        line-height: 83.2px;
        text-align: left;
      }
    }
  }
}

.about {
  margin-top: 160px;

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    &__img {
      width: 883px;
      object-fit: cover;
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 40px;
      padding-top: 198px;
      padding-left: 94px;
      &__text {
        max-width: 223px;
        color: var(--color-gray);
        font-weight: 400;
        font-size: 18px;
        line-height: 28.8px;
        text-align: left;
      }
    }
    &__card {
      position: absolute;
      top: 27px;
      left: 808px;
      display: flex;
      align-items: center;
      width: 276px;
      height: 90px;
      padding: 17px 52px 17px 20px;
      background-color: var(--color-white);

      &-img {
        width: 51px;
        height: 56px;
        object-fit: cover;
      }

      &__text {
        padding-top: 4px;
        padding-left: 20px;
        color: var(--color-gray);
        font-weight: 400;
        font-size: 18px;
        line-height: 28.8px;

        &-title {
          color: #000000;
          font-weight: 600;
          font-size: 18px;
          line-height: 25.2px;
          text-align: left;
        }
      }
    }
  }
}

.service {
  position: relative;
  margin-top: 160px;
  &__top-text {
    max-width: 471px;
    padding-top: 25px;
  }

  &__bottom {
    width: 1200px;
    height: 572px;
    margin-top: 40px;
  }

  &__img {
    background-image: url("../../../public/img/service-img.png");
    background-repeat: no-repeat;
    background-size: 1076px 524.55px;
    background-position-y: bottom;
    background-position-x: right;
  }

  &__menu {
    width: 883px;
    background: var(--color-white);
  }

  &__links__list {
    gap: 34px;
    padding: 0 40px 40px 0;
    &__item {
      &-number {
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
      }
    }
  }

  &__link {
    padding-left: 45px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33.6px;
    text-align: left;
  }
}

.product {
  margin-top: 161px;
  &__top {
    display: grid;
    grid-template-areas:
      "A  B"
      "C  B";

    &-topic {
      grid-area: A;
    }

    &-title {
      grid-area: C;
      width: 336px;
    }

    &-text {
      grid-area: B;
      justify-self: end;
      align-self: center;
      width: 473px;
      padding-top: 37px;
    }
  }

  &__bottom {
    margin-top: 75px;
  }
  &__menu {
    background: var(--color-white);
  }

  &__links__list {
    &-text {
      padding: 24px 0 43px 120px;
      width: 570px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: left;
    }

    &__item {
      &-number {
        font-size: 32px;
        font-weight: 600;
        line-height: 44.8px;
        text-align: left;
      }
    }
  }

  &__link {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
    padding-left: 87px;
  }
}

.material {
  display: flex;
  margin-top: 120px;

  &__top {
    display: flex;
    flex-direction: column;
    width: 600px;

    &-topic {
      margin-top: 47px;
    }
    &-title {
      width: 330px;
    }
    &-text {
      margin-top: 10px;
      width: 500px;
    }
    &-button {
      margin-top: 23px;
      width: 160px;
      background: var(--color-white);
      color: var(--color-black);
    }
  }

  &__bottom {
    display: grid;
    grid-template-areas:
      "A B"
      "A C";
    min-height: 490px;
    min-width: 622px;

    &-left {
      background-position: bottom;
      background-repeat: no-repeat;
      width: 340px;
      grid-area: A;
      background-image: url(../../../public/img/material-1.png);
    }

    &-right-top {
      background-position: right;
      background-repeat: no-repeat;
      height: 225px;
      grid-area: B;
      background-image: url(../../../public/img/material-2.png);
    }

    &-right-bottom {
      background-position: center;
      width: 280px;
      height: 265px;
      background-repeat: no-repeat;
      grid-area: C;
      background-image: url(../../../public/img/material-3.png);
    }
  }
}
