@import "../../assets/scss/mixin.scss";

.banner {
  @include flex-column();
  justify-content: space-evenly;
  max-width: 290px;
  height: 100%;
  background-color: var(--color-blue);
  align-items: center;
  &__item {
    @include flex-column();
    color: var(--color-white);
    font-weight: 400;
    align-items: center;
    margin: 30px 40px;
    &-header {
      font-size: clamp(1.5rem, 0.8838rem + 2.6291vw, 3.25rem);
    }
    &-text {
      font-size: clamp(0.625rem, 0.493rem + 0.5634vw, 1rem);
    }
  }
}
