@import "./normalize.scss";
@import "../fonts/fonts.scss";

.wrapper {
  width: calc(100vw - 240px);
  max-width: 1440px;
  height: 100%;
  margin: 40px auto;
  background-color: var(--bg-color);
  font-family: var(--main-font);

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
  }
}
