@import "./normalize.scss";
@import "../fonts/fonts.scss";

.wrapper {
  height: 100%;
  background-color: var(--bg-color);
  @media (max-width: 645px) {
    width: calc(100vw - 30px);
  }
}

.content {
  margin: 40px auto;
  width: calc(100vw - 240px);
  max-width: 1440px;
}

.page-title {
  font-size: clamp(2.125rem, 1.622rem + 2.0638vw, 3.5rem);
  font-weight: 700;
  line-height: 78.4px;
}
