@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin just-align-center {
  justify-content: center;
  align-items: center;
}

@mixin main-gap() {
  gap: 130px;
  @include flex-column();
}

@mixin line-after() {
  content: " ";
  position: absolute;
  top: 10px;
  left: 150px;
  width: 400px;
  height: 1px;
  background: #000000;
}

@mixin line-absolut() {
  &-topic {
    position: relative;
    width: min-content;
  }
  &-topic::after {
    @include line-after();
  }
}

@mixin img-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
