@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin main-gap() {
  @include flex-column();
  gap: 130px;
}

@mixin line-after() {
  content: " ";
  position: absolute;
  height: 1px;
  width: 400px;
  left: 150px;
  top: 10px;
  background: #000000;
}


@mixin line-absolut() {
  &-topic {
    width: min-content;
    position: relative;
  }
  &-topic::after {
    @include line-after();
  }
}
