@import "../../assets//scss/mixin.scss";

.about {
  @include main-gap();

  &__achievement {
    &__top {
      @include line-absolut();

      &-title {
        max-width: 700px;
      }
    }

    &__bottom {
      display: flex;
      gap: 60px;
      &-img {
        max-width: 880px;
      }
    }
  }

  &__service {
    &__top {
      @include line-absolut();

      &-topic {
        position: relative;
      }

      &-text {
        max-width: 500px;
      }
    }

    &__bottom {
      margin-top: 100px;
    }
  }
}
