@import "../../assets/scss/mixin.scss";

.service {
  @include main-gap();

  &__achievement {
    &__top {
      @include line-absolut();
    }
    &__bottom {
      margin-top: 40px;
      &__list {
        gap: 40px;
        @include flex-column();
        &__item {
          position: relative;
          display: grid;
          grid-template-areas:
            "img title"
            "img text";
          justify-items: center;
          column-gap: 100px;
          &-img {
            grid-area: img;
          }
          &-title {
            grid-area: title;
            align-self: flex-end;
          }
          &-text {
            grid-area: text;
            max-width: 450px;
          }
        }
      }
    }
  }
}
