@import "../../assets/scss/mixin.scss";

.productThemes {
  &__top {
    display: grid;
    grid-template-areas:
      "A  B"
      "C  B";
    @include line-absolut();

    &-topic {
      grid-area: A;
    }

    &-title {
      grid-area: C;
      width: 336px;
    }

    &-text {
      grid-area: B;
      justify-self: end;
      align-self: center;
      width: 473px;
      padding-top: 37px;
    }
  }

  &__bottom {
    margin-top: 75px;
    &__list {
      gap: 50px;
      @include flex-column();
      &__item {
        position: relative;
        display: flex;
        gap: 80px;
        &-number {
          font-weight: 600;
          font-size: clamp(1.625rem, 1.5116rem + 0.4651vw, 2rem);
          line-height: 44.8px;
          text-align: left;
        }
        &__content {
          &-text {
            max-width: 500px;
            padding-top: 10px;
            font-weight: 400;
            font-size: clamp(0.75rem, 0.6366rem + 0.4651vw, 1.125rem);
          }
          &-title {
            width: fit-content;
            font-weight: 600;
            font-size: clamp(1.625rem, 1.5116rem + 0.4651vw, 2rem);
          }
        }
      }

      &__item::after {
        content: url(img/arrow-right.png);
        position: absolute;
        top: 25px;
        right: 0;
      }
    }
  }
  &__menu {
    background: var(--color-white);
  }
}
