@import "../../assets/scss/mixin.scss";

.catalog {
  position: relative;
  gap: 50px;
  margin-top: 80px;
  @include flex-column();
  &__main {
    gap: 100px;
    width: 100%;
    min-height: 800px;
    @include flex-row();

    &__filters {
      width: 200px;
      outline: 1px solid gray;
    }

    &__content {
      width: 100%;
      @include flex-column();
      &__search {
        display: flex;
        @include flex-center();
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        &-input {
          align-self: center;
          height: 90%;
        }
      }

      &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 30px;
        width: 100%;
      }
    }
  }
  &__advantages {
    margin-top: 100px;
  }
}
