@import "../../assets/scss/mixin.scss";

.product {
  @include flex-column();
  box-shadow: 0 2px 7px #dfdfdf;
  &__photo {
    max-width: 280px;
    height: 200px;
    position: relative;

    &-img {
      @include img-absolute();
    }
  }

  &__details {
    @include flex-column();
    max-height: 300px;
    padding: 10px 20px;
    &-title {
      margin-bottom: 15px;
      text-transform: uppercase;
      color: #363636;
      transition: 0.3s;
      width: min-content;
    }

    &-title:hover {
      text-shadow: 2px 1px #dfdfdf;
      cursor: pointer;
    }
    &-text {
      font-size: 15px;
      line-height: 22px;
      color: #999;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 20px;
    gap: 30px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    &-price {
      align-self: center;
      font-size: 18px;
      font-weight: 600;
    }
    &-button {
      background: none;
      font-weight: 500;
      border: 1px solid #d9d9d9;
      padding: 10px;
      color: #515151;
      text-transform: uppercase;
      transition: all 0.1s ease-in-out;
      box-shadow: 0 2px 7px #dfdfdf;
    }
    &-button:hover {
      cursor: pointer;
      box-shadow: 0 2px 7px #807d7d;
    }
    &-button:active {
      transform: scale(0.95);
    }
  }
}
