@import "../../assets//scss/mixin.scss";

.intro {
  align-items: center;
  @include flex-column();

  &__text {
    max-width: 580px;
    margin-top: 35px;
    text-align: center;
  }

  &__image {
    margin-top: 85px;
  }
}