.footer {
  width: 100%;
  height: 600px;
  margin-top: 100px;
  &__top {
    display: grid;
    grid-template-areas:
      "A B"
      "A C";
    padding: 40px 120px;
    background-color: var(--color-blue);
    &-title {
      grid-area: A;
      width: 90%;
      min-width: 250px;
      color: var(--color-white);
    }

    &-text {
      grid-area: B;
      align-self: flex-end;
    }

    &-button {
      grid-area: C;
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }

  &__bottom {
    display: grid;
    grid-template-areas:
      "A B"
      "C B"
      "C D";
    margin: 80px 120px;

    &-logo {
      grid-area: A;
      height: 54px;
    }

    &-title {
      grid-area: C;
      width: 450px;
      padding-top: 10px;
      font-weight: 600;
      font-size: clamp(1.875rem, 1.7238rem + 0.6202vw, 2.375rem);
      text-align: left;
    }

    .search-form__textfield:active {
      outline: 1px solid #ffffff;
    }

    .search-form__textfield:focus {
      outline: 1px solid #ffffff;
      outline-offset: 1px;
    }

    .search-form__textfield::content {
      background: #1b1919;
    }

    &__fieldset {
      grid-area: B;
      justify-self: end;
      margin-top: 33px;
      border: none;
      &-title {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: clamp(0.75rem, 0.6366rem + 0.4651vw, 1.125rem);
        line-height: 28.8px;
        text-align: left;
      }

      &-title::before {
        content: "";
        width: 14px;
        height: 14px;
        margin-right: 5px;
        border-radius: 20px;
        background-color: var(--color-black);
      }

      &-input {
        width: 440px;
        margin-top: 24px;
        border: none;
        border-bottom: 1px solid var(--color-black);
        padding-bottom: 18px;
        padding-left: 0px;
        color: var(--color-black);
        font-weight: 400;
        font-size: clamp(0.75rem, 0.6366rem + 0.4651vw, 1.125rem);
        line-height: 21.6px;
        text-align: left;
        background-color: var(--color-white);
        user-select: none;
      }

      &-input::placeholder {
        color: #d9d9d9;
      }
    }

    &__social {
      grid-area: D;
      justify-self: end;
      align-self: flex-end;
      width: 203px;
      margin-top: 40px;
      &-text {
        padding-bottom: 10px;
        font-weight: 400;
        font-size: clamp(0.75rem, 0.6366rem + 0.4651vw, 1.125rem);
        line-height: 25.6px;
        text-align: left;
      }
      &__list {
        display: flex;
        gap: 25px;
        &__item {
          &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #d9d9d9;
          }
          &-icon {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
