@import "../../assets/scss/mixin.scss";
.cards {
  display: flex;
  gap: 20px;
  &__item {
    @include flex-column();
    align-items: center;
    gap: 15px;
    &-img {
      height: 65px;
      width: 65px;
    }
    &-text {
      margin: 10px;
      text-align: center;
      overflow-wrap: break-word;
    }
  }
}
